<tr id="task<%= task.id %>">
  <td><%= task.title %></td>
  <td><%= task.owner %></td>
  <td><%= task.tags %></td>
  <td><%= task.description %></td>
  <td><%= task.completed_at %></td>
  <td><%= link_to 'Finish', task_path(task), method: :put, remote: true unless task.completed_at %></td>
  <td><%= link_to 'Destroy', task, confirm: 'Are you sure?', method: :delete, remote: true %></td>
</tr>
